:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --color-logo-header: #000000;
  --color-logo-footer: #ffffff;
  --color-hero-title: #ffffff;
  --color-logo-span: #2196f3;
  --accent-color-link: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --background-color-hero: #2f303a;
  --background-color-footer: #2f303a;
  --color-button: #ffffff;
  --background-color-button: #2196f3;
  --background-color-button-hover: #188ce8;
  --color-address: rgba(255, 255, 255, 0.6);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

/* header */
.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-logo-header);
}
.accent-logo {
  color: var(--color-logo-span);
}
.logo-link:hover,
.logo-link:focus {
  color: var(--accent-color-link);
}
.menu-link,
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color-link);
}
.page-nav .menu-link.current {
  color: var(--accent-color-link);
}
.contact-link {
  color: var(--secondary-text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color-link);
}

/* hero */
.hero {
  background-color: var(--background-color-hero);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-hero-title);
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--background-color-button);
  color: var(--color-button);
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--background-color-button-hover);
}

/* benefits */
.benefits-type-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*   */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ourteam */
.ourteam {
  background-color: var(--secondary-background-color);
}
.card-team {
  background-color: var(--primary-background-color);
}
.team .card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team .card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* footer */
.footer {
  background-color: var(--background-color-footer);
}
.logo-footer {
  color: var(--color-logo-footer);
}
.address .color-contactlink,
.address .color-postlink {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.color-contactlink {
  color: var(--color-address);
}
.color-postlink {
  color: var(--color-logo-footer);
}
/* gallery portfolio */
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  border: none;
}
.filter-button:hover,
.filter-button:focus {
  color: var(--color-button);
  background-color: var(--background-color-button);
}
.gallery .card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery .card-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
